<!DOCTYPE HTML>
<html>
<head>
  <title>Untitled</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>  
    <div class="row"> 
        <div class="col-sm"> 
            
        </div>
        <div class="col-sm">
    <table cellspacing="2" border="1" cellpadding="5" width="400">
        <thead><tr><th title="Field #1">ID</th>
        <th title="Field #2">Symptoms</th>
        </tr></thead>
        <tbody><tr>
        
        <td align="right">10</td>
        <td>Абдоминальная боль</td>
        </tr>
        <tr>
        <td align="right">235</td>
        <td>Амнезия</td>
        </tr>
        <tr>
        <td align="right">35</td>
        <td>Ангионевротический отек</td>
        </tr>
        <tr>
        <td align="right">52</td>
        <td>Бессоница</td>
        </tr>
        <tr>
        <td align="right">13</td>
        <td>Боль в горле</td>
        </tr>
        <tr>
        <td align="right">17</td>
        <td>Боль в груди</td>
        </tr>
        <tr>
        <td align="right">12</td>
        <td>Боль в конечностях</td>
        </tr>
        <tr>
        <td align="right">104</td>
        <td>Боль в спине</td>
        </tr>
        <tr>
        <td align="right">87</td>
        <td>Боль в ухе</td>
        </tr>
        <tr>
        <td align="right">136</td>
        <td>Боль в шее</td>
        </tr>
        <tr>
        <td align="right">203</td>
        <td>Боль при глотании</td>
        </tr>
        <tr>
        <td align="right">287</td>
        <td>Глазная боль</td>
        </tr>
        <tr>
        <td align="right">9</td>
        <td>Головная боль</td>
        </tr>
        <tr>
        <td align="right">207</td>
        <td>Головокружение</td>
        </tr>
        <tr>
        <td align="right">75</td>
        <td>Жжение в глазах</td>
        </tr>
        <tr>
        <td align="right">46</td>
        <td>Жжение в горле</td>
        </tr>
        <tr>
        <td align="right">123</td>
        <td>Задержка менструации</td>
        </tr>
        <tr>
        <td align="right">28</td>
        <td>Заложенность носа</td>
        </tr>
        <tr>
        <td align="right">96</td>
        <td>Зуд в носу</td>
        </tr>
        <tr>
        <td align="right">73</td>
        <td>Зуд глаз</td>
        </tr>
        <tr>
        <td align="right">45</td>
        <td>Изжога</td>
        </tr>
        <tr>
        <td align="right">122</td>
        <td>Икота</td>
        </tr>
        <tr>
        <td align="right">153</td>
        <td>Интенсивное дыхание</td>
        </tr>
        <tr>
        <td align="right">15</td>
        <td>Кашель</td>
        </tr>
        <tr>
        <td align="right">124</td>
        <td>Кожная сыпь</td>
        </tr>
        <tr>
        <td align="right">144</td>
        <td>Кратковременная потеря сознания</td>
        </tr>
        <tr>
        <td align="right">11</td>
        <td>Лихорадка</td>
        </tr>
        <tr>
        <td align="right">64</td>
        <td>Мокрота</td>
        </tr>
        <tr>
        <td align="right">112</td>
        <td>Нарушение менструации</td>
        </tr>
        <tr>
        <td align="right">14</td>
        <td>Насморк</td>
        </tr>
        <tr>
        <td align="right">114</td>
        <td>Нервозность</td>
        </tr>
        <tr>
        <td align="right">133</td>
        <td>Ночной кашель</td>
        </tr>
        <tr>
        <td align="right">57</td>
        <td>Обморок</td>
        </tr>
        <tr>
        <td align="right">29</td>
        <td>Одышка</td>
        </tr>
        <tr>
        <td align="right">175</td>
        <td>Озноб</td>
        </tr>
        <tr>
        <td align="right">76</td>
        <td>Ощущение инородного тела в глазу</td>
        </tr>
        <tr>
        <td align="right">140</td>
        <td>Паралич</td>
        </tr>
        <tr>
        <td align="right">40</td>
        <td>Полидипсия</td>
        </tr>
        <tr>
        <td align="right">138</td>
        <td>Потливость</td>
        </tr>
        <tr>
        <td align="right">23</td>
        <td>Прибавление в весе</td>
        </tr>
        <tr>
        <td align="right">149</td>
        <td>Приливы</td>
        </tr>
        <tr>
        <td align="right">170</td>
        <td>Припухшая щека</td>
        </tr>
        <tr>
        <td align="right">244</td>
        <td>Птоз века</td>
        </tr>
        <tr>
        <td align="right">92</td>
        <td>Раннее насыщение</td>
        </tr>
        <tr>
        <td align="right">101</td>
        <td>Рвота</td>
        </tr>
        <tr>
        <td align="right">181</td>
        <td>Рвота кровью</td>
        </tr>
        <tr>
        <td align="right">211</td>
        <td>Слезотечение</td>
        </tr>
        <tr>
        <td align="right">54</td>
        <td>Снижение аппетита</td>
        </tr>
        <tr>
        <td align="right">273</td>
        <td>Сухость глаз</td>
        </tr>
        <tr>
        <td align="right">37</td>
        <td>Тахикардия</td>
        </tr>
        <tr>
        <td align="right">31</td>
        <td>Теснота в груди</td>
        </tr>
        <tr>
        <td align="right">44</td>
        <td>Тошнота</td>
        </tr>
        <tr>
        <td align="right">238</td>
        <td>Тревожность</td>
        </tr>
        <tr>
        <td align="right">115</td>
        <td>Тремор в покое</td>
        </tr>
        <tr>
        <td align="right">169</td>
        <td>Увеличение лимфоузлов в области шеи</td>
        </tr>
        <tr>
        <td align="right">248</td>
        <td>Увеличение лимфоузлов в подмышечной впадине</td>
        </tr>
        <tr>
        <td align="right">16</td>
        <td>Усталость</td>
        </tr>
        <tr>
        <td align="right">139</td>
        <td>Холодный пот</td>
        </tr>
        <tr>
        <td align="right">30</td>
        <td>Хрип</td>
        </tr>
        <tr>
        <td align="right">95</td>
        <td>Чихание</td>
        </tr>
        <tr>
        <td align="right">179</td>
        <td>Чувство жжения в желудке</td>
        </tr>
        </tbody></table>
    </div>
    <div class="col-sm"> 
        
    </div>
</div>
    
</body>


</html>
